.bodyman img {
    width: 100% ;
    max-width: 720px;
    max-height: 500px;
    height:auto;
    border-radius: 10px;
}
.bodyman {
    font-size: 15px !important;
}
@media only screen and (max-width : 992px) {
    .card-panel{
        padding:5px !important;
    }
    .col .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .max-width-480{
        max-height:90px;
    }
    .more-posts{
        max-height: 80px;
        max-width: 80px;
    }


}
    .max-width-85{
        width: 70px;
        height: 70px;
    }
.material-icons {
    display: inline-flex;
    vertical-align: top;
}

.padding-top-12 {
    padding-top: 12px;
}

.width-85 {
    width: 85%;
}

.shadow-header {
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.line-height {
    line-height: 54px;
}

.padding-top-5 {
    padding-top: 5px;
}

.chip-color {
    color: rgba(0, 0, 0, 0.6);
}

.padding-top-10 {
    padding-top: 10px !important;
}
.author-color {
    color: #AFAEAF;
}


.date-style {
    color: #AFAEAF;
    padding-right: 5px;
}
.margin-5{
    margin:5px !important;
}
.pin-top{
    position: relative;
    height: 100%;
}
.avatar{
    line-height: 25px !important;
}
#sharebuttons{
    display: flex;
    justify-content: center; 
}
.circlecomment{
    width: 32px;
    height: 32px;
    overflow: hidden;
    right: 15px;
    margin-left: 8px;
    left: unset;
    display: inline-block;
    vertical-align: middle;
}
.answer-comment{
    text-align: justify;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background-color: #F5F4F4;

}
.border-radius-20 {
    border-radius: 20px;
}
.margin-right-10{
    margin-right: 10px;
}
.linenormal{
    line-height: normal;
}