<link rel="stylesheet" href="/css/single.css">
<div class="container">
<div class="row">

  <div class="parallax-container height-450">
    <div class="parallax">
      <img src="<%= single.images %>" alt="<%= single.title %>">
    </div>
  </div>
    <div class="card-panel  z-depth-0">
        <%- single.body %>
    </div>
  </div>
</div>

